.card-preview-label {
  border-radius: 3rem;
  text-align: center;

  float: left;
  font-size: 12px;
  font-weight: 700;
  height: 8px;
  line-height: 100px;
  margin: 0 4px 4px 0;
  max-width: 40px;
  min-width: 40px;
  padding: 0;
  text-shadow: none;
  width: auto;
}

.card-preview-checklist {
  color: #6b778c;
  border-radius: $borderRad1;
  display: flex;
  align-items: center;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 16px;

  .check-icon {
    display: flex;
    font-family: fontawesome-far;
    margin-inline-end: 5px;
    &::before {
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      content: '\f14a';
    }
  }

  &.done {
    background-color: #61bd4f;
    color: #fff;
  }
}
