.card-preview-label {
  border-radius: 3rem;
  text-align: center;

  font-size: 12px;
  font-weight: 700;
  height: 8px;
  max-width: 40px;
  min-width: 40px;
  padding: 0;
  text-shadow: none;
  width: auto;
}

.card-preview-checklist {
  color: #6b778c;
  border-radius: $borderRad1;
  display: flex;
  align-items: center;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 16px;

  .check-icon {
    display: flex;
    font-family: fontawesome-far;
    margin-inline-end: 5px;
    &::before {
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      content: '\f14a';
    }
  }

  &.done {
    background-color: #61bd4f;
    color: #fff;
  }
}

.card-preview-label {
  display: flex;
  width: 40px;
  border-radius: 4px;
  height: 8px;
  margin-bottom: 4px;
  color: transparent;

  &:hover {
    filter: brightness(95%);
  }

  &.close {
    color: rgba(255, 255, 255, 0);
    height: 8px;
    min-width: 20px;
    width: 40px;
    transition: height 0.2s, min-width 0.2s linear 0.2s;
  }
  &.open {
    display: flex;
    justify-content: center;
    color: white;
    height: 20px;
    min-width: 60px;
    width: fit-content;
    text-align: center;
    transition: color 0.2s linear 0.4s, min-width 0.2s, height 0.2s linear 0.2s;
  }
}
