.list-preview {
  display: flex;
  flex-direction: column;
  width: 272px;
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  max-height: 100%;
  white-space: normal;
  margin: 2px 0 8px 8px;
}

.list-wrapper {
  padding-bottom: 3.4rem;
  scroll-snap-align: center;
}

.layout-helper {
  overflow-y: scroll;
}

.list-header {
  font-size: 0.8rem;
  flex: 0 0 auto;
  min-height: 20px;
  padding: 10px 8px;
  position: relative;
}

.lists-container {
  list-style-type: none;
  gap: 20px;
  position: relative;
  // overflow-x: auto;
  // overflow-y: hidden;
  // height: 100%;
  margin: 0 0 4px;
  padding: 0 4px;
  white-space: nowrap;
  padding-bottom: 10px;
  max-height: 100%;
  margin-bottom: 10px;
}

.card-list-add {
  background-color: #cecece7a;
  width: 250px;
  padding: 0.8rem;
  border-radius: 3px;
  &:hover {
    background-color: #00000014;
  }
}
.board-content {
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  margin: 0 0.3rem;
  white-space: nowrap;
}

//scroll bar board settings
.board-content::-webkit-scrollbar {
  -webkit-appearance: none;
}
.board-content::-webkit-scrollbar-track {
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 10px;
}

.board-content::-webkit-scrollbar:vertical {
  width: 12px;
}

.board-content::-webkit-scrollbar:horizontal {
  height: 14px;
}

.board-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(202, 202, 202, 0.5);
}

// all the card in the list
.card-container {
  padding: 0 8px;
  list-style: none;
  overflow-x: hidden;
}

//scorll bar list settings
.card-container::-webkit-scrollbar {
  -webkit-appearance: none;
}
.card-container::-webkit-scrollbar-track {
  background-color: rgba(184, 184, 184, 0.5);
  border-radius: 8px;
}

.card-container::-webkit-scrollbar:vertical {
  width: 8px;
}

.card-container::-webkit-scrollbar:horizontal {
  height: 8px;
}

.card-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(136, 136, 136, 0.5);
}

.card-preview {
  display: flex;
  flex-direction: row;
  min-height: 56px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 #091e4240;
  cursor: pointer;
  padding: 6px 8px 2px;
  margin-bottom: 8px;
  max-width: 300px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}
.card-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 0;
  padding-bottom: 8px;
}

.card-content {
  overflow: hidden;
  padding: 6px 8px 2px;
}

.list-footer {
  margin: 2px 0 8px 8px;
  padding: 4px 8px;
}

.add-list {
  margin: 4px;
}
