.activity-preview {
  word-break: break-word;
  > *:first-child {
    margin-inline-end: 10px;
  }

  .member-name {
    font-weight: bold;
    margin-inline-end: 6px;
  }
}

.created-at-time {
  font-size: 12px;
  color: #5e6c84;
  white-space: nowrap;
}
.phenom {
  margin-left: 40px;
  min-height: 32px;
  padding: 8px 0;
  position: relative;

  & .avatar {
    width: 32px;
    height: 32px;
  }
  & .member-name {
    font-weight: 700;
    margin-inline-end: 6px;
  }
}
.phenom-creator,
.phenom-icon {
  height: 32px;
  left: -40px;
  position: absolute;
  top: 10px;
  width: 32px;
}
.phenom-desc {
  word-wrap: break-word;
  margin: 0;
}

.activities-list {
  padding-bottom: 30px;
  padding-top: 6px;
  margin-bottom: 20px;
}

.comment-action {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px -1px #091e4240, 0 0 0 1px #091e4214;
  box-sizing: border-box;
  clear: both;
  display: inline-block;
  margin: 4px 2px 4px 0;
  max-width: 100%;
  padding: 8px 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}
