.board-menu-content-frame {
  flex: 1 auto;
  transform: translateX(0);
  transition-duration: 0.12s;
  transition-property: transform, opacity;
  transition-timing-function: ease-in;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  padding: 12px 6px 12px 12px;
}
.board-backgrounds-section-tiles {
  overflow-y: hidden;
}
.board-backgrounds-section-tile {
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  padding: 0 4px;
  position: relative;
  text-align: center;
  width: 50%;
}
.image {
  background-color: #dfe1e6;
  background-size: cover;
  border-radius: 8px;

  height: 96px;

  margin-bottom: 8px;

  width: 100%;
}
