.card-preview-container {
  border-radius: 3px 3px 0 0;
  .card-header {
    width: 100%;
    height: 32px;
  }
}
.dragged {
  min-height: 2px;
}
.cover-full {
  display: flex !important;
  flex-wrap: wrap;
}

.card-preview-bagdes {
  padding: 0 1px 0 6px;
}
