/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 5; /* Stay on top */
  background-color: #f4f5f7;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: 0 12px 24px -6px #091e4240, 0 0 0 1px #091e4214;
}

/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover,
.offcanvas a:focus {
  color: #42526e;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  right: 9px;
  top: 5px;
  font-size: 24px;
}

.sidenav {
  right: 0;
}

.sidenav-header {
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 48px;
  overflow: hidden;
  padding: 0 6px 0 12px;
  // position: relative;
  // transition: opacity 0.2s ease-in;
  width: 100%;
}

.board-menu-header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.board-menu-header-divider {
  background-color: #091e4221;
  border: 0;
  height: 1px;
  margin: 0 13px;
  padding: 0;
}

.board-menu-content {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 12px 6px 12px 12px;
  width: 100%;
  ul {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(9, 30, 66, 0.13);
  }
  li,
  .activity {
    border-radius: 3px;
    display: block;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
    padding: 6px 6px 6px 40px;
    position: relative;
    cursor: pointer;
    &:hover {
      background-color: rgba(9, 30, 66, 0.08);
    }
    .menu-icon,
    svg,
    span {
      font-size: 20px;
      height: 20px;
      line-height: 20px;
      width: 20px;
      position: absolute;
      top: 6px;
      left: 12px;
      color: #42526e;
      path {
        fill: #42526e;
      }
    }
    span {
      font-size: 20px;
      height: 20px;
      left: 12px;
      line-height: 20px;
      position: absolute;
      top: 6px;
      width: 20px;
      background-position: 50%;
      background-size: cover;
      display: inline-block;
      border-radius: 3px;
    }
  }
  li.sticker-link i {
    font-size: 20px;
    height: 20px;
    left: 12px;
    line-height: 20px;
    position: absolute;
    top: 6px;
    width: 20px;
  }
}

.board-menu-header-title {
  flex: 1;
  line-height: 20px;
  margin: 14px 32px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  transition: margin 0.12s ease-in;
  white-space: nowrap;
}

.u-fancy-scrollbar {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
}
