.tabbed-pane-header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    // max-width: 650px;
    padding: 32px;
    position: relative;
    text-align: center;
    background-color: #f4f5f7;
}