.main-board {
  height: calc(100vh - 40px); // check responsive
}

.board-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.board-preview span {
  color: pink;
}

