

.card-details-container {
  align-self: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // height: 1000px;
  padding: 30px;
  background-color: #f4f5f7;
  border-radius: 2px;
  position: relative;
  width: 768px;

  .card-body-container {
    .card-details-main {
      float: left;
      margin: 0;
      min-height: 24px;
      padding: 0 8px 8px 16px;
      position: relative;
      width: 552px;
    }

    .card-details-sidebar {
      float: right;
      padding: 0 16px 8px 8px;
      width: calc(100% - 560px);

      .btn-card-details {
        background-color: #091e420a;
        color: #172b4d;
        width: 100px;
      }
    }
  }
}

.card-details-content {
  justify-content: space-between;
}
