.home-page-container {
    background: linear-gradient(0deg, #fff, #eae6ff 100%);
    font-family: "Charlie Text", sans-serif;
    font-size: 20px;
    .first-home-page-container {
        display: flex;
        width: 100%;
        max-width: 1140px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 7rem !important;
        padding-bottom: 5rem !important;
        align-items: center;
        h1 {
            font-size: 3rem;
            line-height: 1.25;
        }
        .first-part-txt {
            padding: 3%;
            margin-top: 0;
            margin-bottom: 1.5rem;
            margin-right: 8.33333333%;
        }
        img {
            margin-left: 8.33333333%;
        }
        .btn-homepage-signup {
            padding: 3%;
            margin-top: 0;
            margin-bottom: 1.5rem;
            margin-right: 8.33333333%;
            display: flex;
            > * {
                flex-basis: 50%;
            }
            .btn-home-page-submit {
                color: #fff;
                background-color: #0065ff;
                border-color: #0065ff;
                padding-left: 1.5rem !important;
                padding-right: 1.5rem !important;
                font-family: inherit;
                margin: 0;
            }
        }
    }
}
