.workspace-container {
  .workspace-sticky-cotainter {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .nav-bar-workspace-container {
    // display: flex;
    // flex-direction: column;
    button {
      border: none;
    }
    br {
      color: gray;
    }
  }
  .nav-bar-workspace-container {
    // display: flex;
    // flex-direction: column;
    position: sticky;
    top: 0px;
    left: 0;
    .home-left-bar {
      margin: 40px 0 0;
      padding: 0 16px;
      width: 240px;
    }
  }
  button {
    color: rgb(107, 119, 140);
    background-color: inherit;
  }
}

.all-boards-main {
  margin: 40px 16px 0;
  max-width: 825px;
  min-width: 288px;
  width: 100%;
}
