// Setup
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';
@import 'setup/typography';
@import 'setup/main-setup';

//pages
@import 'pages/board';

// Basics
@import 'basics/helpers';
@import 'basics/base';
@import 'basics/links';
@import 'basics/forms';

// Views
@import 'views/about-us';
@import 'views/home-page';
@import 'views/board-app';
@import 'views/review-app';
@import 'views/card-details';
@import 'views/about-us';
@import 'views/home-page';
@import 'views/board-app';
@import 'views/review-app';
@import 'views/workspace';

// Components
@import 'cmps/app-header';
@import 'cmps/app-footer';
@import 'cmps/user-msg';
@import 'cmps/loader';
@import 'views/about-us';
@import 'views/home-page';
@import 'views/board-app';
@import 'views/review-app';
@import 'views/card-details';
@import 'views/about-us';
@import 'views/home-page';
@import 'views/board-app';
@import 'views/review-app';
@import 'views/workspace';
@import 'views/login_signup';
// Components
@import 'cmps/app-header';
@import 'cmps/app-footer';
@import 'cmps/user-msg';
@import 'cmps/board-header';
@import 'cmps/home-header';
@import 'cmps/side-nav';
//Components card-details-cmps
@import 'cmps/card-details-cmps/card-details-activity-list';
@import 'cmps/card-details-cmps/card-details-activity-preview';
@import 'cmps/card-details-cmps/card-details-activity';
@import 'cmps/card-details-cmps/card-details-checklists';
@import 'cmps/card-details-cmps/card-details-cover';
@import 'cmps/card-details-cmps/card-details-data';
@import 'cmps/card-details-cmps/card-details-desc';
@import 'cmps/card-details-cmps/card-details-header';

body,
button,
html,
input,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.bg-primary {
  background-color: #0065ff !important;
}

a {
  color: #172b4d;
}
