// Setup
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';
@import 'setup/typography';
@import 'setup/main-setup';

//pages
@import 'pages/board';

// Basics
@import 'basics/helpers';
@import 'basics/base';
@import 'basics/links';
@import 'basics/buttons';
@import 'basics/forms';

// Views
@import 'views/about-us';
@import 'views/home-page';
@import 'views/board-app';
@import 'views/review-app';
@import 'views/about-us';
@import 'views/home-page';
@import 'views/board-app';
@import 'views/review-app';
@import 'views/workspace';
@import 'views/card-details1';

// Components
@import 'cmps/app-header';
@import 'cmps/app-footer';
@import 'cmps/user-msg';
@import 'cmps/loader';
@import 'views/about-us';
@import 'views/home-page';
@import 'views/board-app';
@import 'views/review-app';
@import 'views/about-us';
@import 'views/home-page';
@import 'views/board-app';
@import 'views/review-app';
@import 'views/workspace';
@import 'cmps/popovers/pop-over';
@import 'cmps/card-details-cmps/card-details-date';
@import 'cmps/card-details-cmps/card-details-actions';
@import 'cmps/card-details-cmps/card-details-labels';
@import 'cmps/popovers/label-popover-preview';

// Components
@import 'cmps/app-header';
@import 'cmps/app-footer';
@import 'cmps/user-msg';
@import 'cmps/board-header';
@import 'cmps/home-header';
@import 'cmps/side-nav';
@import 'cmps/login-header';
@import 'cmps/login_signup';
@import 'cmps/popovers/pop-over';
@import 'cmps/card';
@import 'cmps/workspace-header';
@import 'cmps/workspace-nav-bar';
@import 'cmps/board-preview';

@import 'cmps/card-preview/card-preview';
@import 'cmps/card-preview/card-preview-labels';

//Components card-details-cmps
@import 'cmps/card-details-cmps/card-details-activity-list';
@import 'cmps/card-details-cmps/card-details-activity-preview';
@import 'cmps/card-details-cmps/card-details-activity';
@import 'cmps/card-details-cmps/card-details-checklists';
@import 'cmps/card-details-cmps/card-details-cover';
@import 'cmps/card-details-cmps/card-details-data';
@import 'cmps/card-details-cmps/card-details-desc';

body,
button,
html,
input,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.bg-primary {
  background-color: #0065ff !important;
}

a {
  color: #172b4d;
}
