.card-details-date {
  margin: 0 8px 8px 0;
  max-width: 100%;

  svg {
    cursor: pointer;
  }

  .secondary-btn {
    margin-inline-start: 4px;
    display: inline-block;
    .due-msg {
      font-size: 12px;
      line-height: 16px;
      padding: 0 4px;
      text-transform: uppercase;
      border-radius: 2px;
      margin: auto 0 auto 8px;
    }
  }
}

.date-card-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 13px;
}
