.card-checklists-container {
  display: none;
}

//logo
.checklist-logo {
  height: 32px;
  width: 32px;
}

.checklist-header h3 {
  margin-right: auto;
}

.action-logo {
  width: 14px;
  height: 14px;
  filter: invert(31%) sepia(37%) saturate(567%) hue-rotate(179deg)
    brightness(81%) contrast(80%);
}
