.card-details-cover {
  height: 116px;
  border-top-left-radius: $borderRad1;
  border-top-right-radius: $borderRad1;
  position: relative;
  background-color: rgb(204, 204, 204);

  .cover-menu-btn {
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 8px;
    bottom: 8px;
    align-items: center;
    border: none;
    border-radius: $borderRad1;
    margin: 6px 12px 6px 6px;
    background-color: #00000014;
    border-radius: 3px;
    color: #172b4d;
    text-decoration: none;

    svg {
      filter: invert(31%) sepia(37%) saturate(567%) hue-rotate(179deg)
        brightness(81%) contrast(80%);

      margin-inline-end: 8px;
    }
  }
  .cover-menu-btn:hover {
    background-color: #00000029;
  }

  &.img {
    position: relative;
    background-size: contain;
    background-origin: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    height: 160px;
    min-height: 160px;
    padding: 0px;
  }
}
