.desctiption-container {
    .description-header {
        align-items: center;
        .icon-description {
            margin-right: 8px;
        }
        .description-edit-btn {
            background-color: #091e420a;
            font-size: 14px;
            font-weight: 400;
            justify-content: center;
            line-height: 20px;
            padding: 6px 12px;
            margin-left: 8px;
            border: none;
        }
    }
    .description-main {
        margin-left: 50px;
        textarea {
            overflow: hidden;
            overflow-wrap: break-word;
            resize: none;
            height: 108px;
            width: 100%;
            outline: none !important;
            box-shadow: inset 0 0 0 2px #0079bf;
        }
        .description-textarea-btns {
            display: flex;
            align-items: center;
            .save-description {
                border-radius: 3px;
                font-size: 14px;
                font-weight: 400;
                justify-content: center;
                line-height: 20px;
                padding: 6px 12px;
            }
            .close-window-btn-textarea {
                cursor: pointer;
                color: $clr7;
                background-color: transparent;
                border-radius: 50%;
                border: none;
                // position: absolute;
                width: 40px;
                height: 40px;
                font-size: 14px;
    font-weight: 400;
    justify-content: center;
    line-height: 20px;
    padding: 6px 12px;
                z-index: 10;
                transition: background-color 85ms, color 85ms;
            }
        }
    }
    p {
        margin: 0 0 8px;
    }
}
